[user]
	name = Aura
	email = aura8897@gmail.com

; [commit]
; 	template = ~/.commit-template

[difftool]
	prompt = false
[diff]
	tool = nvimdiff
	context = 1
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
	; path = nvim

[alias]
	co = checkout
	df = diff
	s = status
	dd = "!cd \"${GIT_PREFIX-.}\"; [[ $# -eq 0 ]] && set -- HEAD; nvim \"+G diff`printf ' %q' \"$@\" | sed 's/\\\\\\^/^/g'`|on\" #"
	ss = "!cd \"${GIT_PREFIX-.}\"; [[ $# -eq 0 ]] && set -- HEAD; nvim \"+G show --dd`printf ' %q' \"$@\" | sed 's/\\\\\\^/^/g'`|on\" #"
	; ss = "!cd \"${GIT_PREFIX-.}\"; git cat-file -e \"$1\" && nvim '+G difftool -y $1^ $1 -- ${@:2}' || nvim '+G difftool -y HEAD^ HEAD ${@}' #"
	st = stash
	sa = stash apply
	sd = stash show -p
	sl = stash list
	sm = "!cd \"${GIT_PREFIX-.}\"; [[ $# -gt 0 && ! -e \"${@: -1}\" ]] && git stash push -m \"${@: -1}\" -- \"${@:1:$(($#-1))}\" || git stash push -m `date +%F,%T%z` -- \"$@\""
	sp = stash pop
	l  = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai @%an)%Creset'
	ll = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai @%an)%Creset' --numstat
	permission-reset = !git diff -p -R --no-ext-diff --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
	rl = reflog --format='%Cblue%gD %Cred%h%Creset %gs%Cgreen%d'
	br = branch
	bd = branch -d
	sw = switch
	ca = commit --amend
	ce = commit --amend --no-edit
	cm = commit -m
	ee = "!git commit --allow-empty -m \"${1:-wip}\" #"
	cc = "![[ $# -gt 0 ]] && cd \"${GIT_PREFIX-.}\" && git add \"$@\" || git add .; git commit -m wip #"
	c = commit
	a = add
	rs = restore
	rb = rebase
	fa = fetch --all
	mf = merge FETCH_HEAD
	m = merge
	mt = mergetool
	cp = cherry-pick
	pl = pull
	pr = pull --rebase
	ps = push
	po = push origin
	pf = push -f
	pd = push origin --delete

; [http]
; 	proxy = socks5://127.0.0.1:9150
; 	; proxy = http://127.0.0.1:1087

; [https]
; 	proxy = socks5://127.0.0.1:9150
; 	; proxy = http://127.0.0.1:1087

; [pager]
; 	diff = delta
; 	log = delta
; 	reflog = delta
; 	show = delta

; [interactive]
; 	diffFilter = delta --color-only

; [delta]
; 	features = side-by-side line-numbers decorations
; 	whitespace-error-style = 22 reverse

; [delta "decorations"]
; 	commit-decoration-style = bold yellow box ul
; 	file-style = bold yellow ul
; 	file-decoration-style = none

[init]
	defaultBranch = master
